.the-list li {
    /* padding-left: 10px; */
    list-style: none;
    width: 250px;

}

.the-list li {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    border-radius: 5px;

}